services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: FeatureDatabase
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5434:5432"

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 1s
      timeout: 3s
      retries: 5

  server:
    container_name: featureflag-config-system
    build:
      context: .
      dockerfile: app/Dockerfile
    # command:
    #   [
    #     "uv",
    #     "run",
    #     "uvicorn",
    #     "app.main:app",
    #     "--host",
    #     "0.0.0.0",
    #     "--port",
    #     "8080",
    #     "--reload"
    #   ]
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      redis:
        condition: service_healthy
      db:
        condition: service_started

volumes:
  db_data:
